body {
    background: linear-gradient(black, #0d0226) ;
    font-family: "open sans";
}

.midi {
    width: 4%;
    float: left;
    padding-top: 213px;
}

.keyboard {
    border-spacing: 1.5px;
}

.keyboard tr td {
    height: 18;
    padding: 0px;
    font-size: 10px;
    font-style: normal;
    color: black;
    border: black solid 0.4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    text-align: center;
}

#key2 {
    padding-top: 12px;
}

.norm {
    background-color: #e33d48;
}

.flat {
    background-color: rgb(145, 143, 143);
}

.grid {
    width: 850px;
    border-right: white solid 2px;
    padding-left: 10px;
    padding-right: 20px;
    float: left;
}

.seq {
    padding-bottom: 10px;
}

#tempo {
    padding-top: 20px; 
}

aside {
    float: left;
    padding: 10px;
    padding-left: 30px;
}

h2 {
    color: #e33d48;
    width: 250px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-top: 20px;
}

h3 {
    color: #e33d48;
    text-align: center;
}

td {
    color: #e33d48;
    padding: 0px;
    width: 51.125;
    font-weight: bold;
    font-size: 25px;
    padding-top: 20px;
}

.row1 {
    padding-top: 43px;
}

.row2 {
    padding-top: 20px;
}

.row3 {
    padding-top: 270px;
}

.col {
    width: 20%;
    float: left;
    padding-right: 40px;
}